
build/
devel/
logs/
.catkin_workspace

.catkin_tools

__pycache__/


**/CMakeLists.txt
**/package.xml

# this is for Mini Pupper
/src/champ/
/src/champ_teleop/
/src/robots/
/src/yocs_velocity_smoother/
