<launch>

    <arg name="open_rviz" default="false"/>
    <!-- options: true <false> -->

    <arg name="plot_laser" default="false"/>
    <!-- options: true <false> -->

    <arg name="world" default="world"/>
    <!-- options: <world> house -->

    <arg name="robot_behavior" default="bouncy"/>
    <!-- options: <bouncy> marauder instructor student1 student2 -->

    <!-- launch TurtleBot3 simulator in maze environment -->
    <!-- i.e. roslaunch turtlebot3_gazebo turtlebot3_world.launch -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_$(arg world).launch"/>

    <!-- launch RVIZ for visualization -->
    <!-- i.e.roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch -->
    <group if="$(arg open_rviz)">
        <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>
    </group>

    <!-- set Size (m) attribute to 0.04, color to Green How? -->

    <!-- launch the scan subscriber to show a plot of the laser scan-->
    <group if="$(arg plot_laser)">
        <node pkg="mhered" type="scan_subscriber.py" name="scan_subscriber" output="screen" /> -->
    </group>

    <!-- launch teleop node -->
    <!-- i.e roslaunch turtlebot3_teleop turtlebot3_teleop_key.launch -->

    <!--
    <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/>
    -->

    <!-- launch the bouncy robot -->
    <node pkg="mhered" type="robot_$(arg robot_behavior).py" name="robot_$(arg robot_behavior)" output="screen" />


</launch>
